<div class="cart-title">Your Cart</div>
<table>
  <%= render(:partial => "cart/cart_item", :collection => cart.items) %>  
  
  <tr class="total-line">
    <td colspan="2">Total</td>
    <td class="total-cell"><%= pennies_to_dollars(cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Empty Cart', { :controller => :cart, :action => 'destroy', :id => 1}, 
							:confirm => "Are you sure you wish to remove your cart?", :method => :delete %>
<%= button_to "Checkout", :action => 'checkout', :controller => 'store' %>
